.Container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #2b9277;
    color: #e2e2e2;
    font-weight: bold;
}

.SuccessMessage {
    font-size: 0.65rem;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .SuccessMessage {
        font-size: 1.5rem;
    }
}